{% extends "layout.html" %}
{% load static %}

{% block body %}
<style>
  #team{
  margin-top : 100px
};
</style>

    <div id="team" class="team section-bg">
      <div class="container seniors" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info">
                <h4>Anmol kakar</h4>
                <span class="position" >Software Developer</span>
                <p class="company">Google</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">

              <div class="member-info">
                <h4>Aditya</h4>
                <span class="position">Product Manager</span>
                <p>JP. Morgan</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info ">
                <h4>Ashish Agarwal</h4>
                <span class="position">CEO</span>
                <p>Flipkart</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4 single_col">
            <div class="member d-flex align-items-start" data-aos="zoom-in">
              <div class="member-info ">
                <h4>Ayush Singh</h4>
                <span class="position">Accountant</span>
                <p>Amazon</p>
                <div class="social">
                  <a href=""><img class="img" src="{% static 'app/img/mail.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}